* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.swal2-confirm{
  background-color: bisque !important;
  box-shadow: none !important;
}

.swal2-success-ring,
.swal2-x-mark {
  border-color: bisque !important;
  color: bisque !important;
}